[submodule "freediag"]
	path = freediag
	url = https://github.com/rsperry79/freediag
[submodule "nissutils"]
	path = nissutils
	url = https://github.com/rsperry79/nissutils
[submodule "npkern"]
	path = npkern
	url = https://github.com/rsperry79/npkern.git
